<tr id="itens_group__<%= itens_group.id %>">
  <td class="quantity"><%= itens_group.quantity %></td>
  <td><%= itens_group.product.title %></td>
  <td class="price"><%= number_to_currency(itens_group.total_price) %></td>
</tr>
