/*
*= require_tree .
*= require_self
*/
$font-size: large;

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

header.main {
  background: #1B88BD;
  margin: 0;
  padding: 0.5%;
  h1{
    float: right;
    color: #FFF;
    margin: 0;
    font-weight: bold;
  }
}

.content{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;

  flex-direction: column; // Mobile
  @media (min-width: 30em){
    flex-direction: row; // Default
  }

  nav.side-nav{
    background: #1B88BD;
    color: #FFF;
    padding: 0 0.5%;
    width: 10%;

    ul{
      list-style: none;
      margin: 0;
      padding: 0;

      li{
        font-size: large;
        padding: 20% 0;
        text-align: center;

        a{
          color: inherit;
          text-decoration: none;
        }
        a:hover {
          background: none;
          color: white;
        }
      }
    }
    article {
      header {
        text-align: center;
        width: 100%;
        font-weight: bold;
      }
      background: deepskyblue;
      border-radius: 10%;
      padding: 5%;
    }
  }

  .notice, #notice {
    background: #ffb;
    border-radius: 0.5em;
    border: solid 0.177em #882;
    color: #882;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 1em 1.414em;
    text-align: center;
  }

  main{
    width: 90%;
    padding: 0.5%;
  }
}
