@import 'application';
.carts{
  ul{
    list-style: none;
    padding-left: 0;
    ul{
      padding-left: 3%;
    }
  }
  li{
    font-size: $font-size;
    padding: 1% 0;
  }
  a, a:visited, a:hover{
    color: #000;
    background-color: transparent;
  }
  font-size: $font-size;
}
