// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.store{
  img.product {
    width: 200px;
   }

  input[type='submit']{
    background-color: #282;
    border-radius: 10px;
    color: white;
    padding: 10px;
    width: 100%
  }
  input[type='submit']:hover{
    background-color: #141;
  }

  table.catalog{
    width: 100%;
    a{
      text-decoration: none;
    }
    a:hover{
      color: #666;
      background-color: transparent;
    }
    thead{
      font-size: x-large;
    }

    th{
      padding-bottom: 2%;
    }
  }
}
