<h1>Store#index</h1>
<p>Find me in app/views/store/index.html.erb</p>
<br>

<ul class="catalog">
  <% @all_products. each do |product| %>
    <li>
      <%= image_tag(product.image_url) %>
      <h3> <%= link_to product.title, product  %> </h3>
      <p> <%= product.description %> </p>
      <span class="price" style="float: right"><%= product.price %></span>
    </li>
  <% end %>

</ul>
